<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Theme\Block\Html\Topmenu" type="Jnext\Megamenu\Block\Html\Topmega" />
    <preference for="Magento\Catalog\Model\Category\DataProvider" type="Jnext\Megamenu\Model\Category\DataProvider" />
</config>