@media only screen and (max-width: 959px) {
    .navigation .megamenu {display: none;}
    .navigation #dm {display: block;}
}
@media only screen and (min-width: 960px) {
    .navigation .megamenu {display: block; }
    .navigation .megamenu .megamenu-wrapper {border-radius: 5px;}
    .navigation #dm {display: none;}

    .megamenu li.level0.mega {position: static;}
	.megamenu li.level0 a.level-top + .megamenu-wrapper
	{
        display: none;
        position: absolute;
        left: 0;
        top: 45px;
        background: #fff;
        z-index: 999;
        border: 1px solid #ccc;
        padding: 15px 15px 0px;
        min-width: 230px
    }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_standard {width: 95%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_20 {width: 20%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_30 {width: 30%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_40 {width: 40%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_50 {width: 50%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_60 {width: 60%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_70 {width: 70%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_80 {width: 80%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_90 {width: 90%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper.width_100 {width: 95%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .megamenu-block
	{ margin-bottom: 20px; display: inline-block; float: left; vertical-align: top;}
	.megamenu li.level0 a.level-top + .megamenu-wrapper .topblock {width: 100%}
	.megamenu li.level0 a.level-top + .megamenu-wrapper .bottomblock {width: 100%}
    .megamenu .cat-label {
        color: #fff;
        font-size: 10px;
        font-weight: normal;
        padding: 0 5px;
        text-transform: none;
        vertical-align: middle;
        line-height: 16px;
        text-transform: uppercase;
        position: absolute;
        right: 20px;
        top: -20px;
    }
    .megamenu .active .cat-label {top: -5px }
    .megamenu .cat-label:before {
        border-color: transparent;
        border-style: solid;
        border-width: 4px;
        content: "";
        height: 0;
        position: absolute;
        right: 6px;
        top: 16px;
        width: 0;
    }
    /*----------------------------LEFT----------------------------*/
    .megamenu .leftblock {margin: 0 2% 2% 0;}
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock .level0.submenu
    {display: block !important; position: relative !important; box-shadow: none;}
    .megamenu .leftblock .submenu.level1 li {margin-bottom: 0px}
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_standard {width: 20%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_20 {width: 20%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_30 {width: 30%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_40 {width: 40%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_50 {width: 50%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_60 {width: 60%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_70 {width: 70%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_80 {width: 80%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_90 {width: 90%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_100 {width: 100%; }
    /*----------------------------RIGHT----------------------------*/
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_standard {width: 78%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_20 {width: 18%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_30 {width: 28%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_40 {width: 38%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_50 {width: 48%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_60 {width: 58%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_70 {width: 68%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_80 {width: 78%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_90 {width: 88%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .rightblock.width_100 {width: 100%; }
    /*----------------------------LEFT_DYNAMIC RIGHT_STANDARD COMBINED----------------------------*/
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_30
    + .rightblock.width_standard {width: 68%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_40
    + .rightblock.width_standard {width: 58%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_50
    + .rightblock.width_standard {width: 48%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_60
    + .rightblock.width_standard {width: 38%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_70
    + .rightblock.width_standard {width: 28%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_80
    + .rightblock.width_standard {width: 18%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_90
    + .rightblock.width_standard {width: 8%; }
    .megamenu li.level0 a.level-top + .megamenu-wrapper .leftblock.width_100
    + .rightblock.width_standard {width: 100%; }    

    .megamenu li.level0 a.level-top.ui-state-focus + .megamenu-wrapper {display: block !important;}
    .megamenu li.level0 a.level-top.ui-state-active + .megamenu-wrapper {display: block !important;}
    .megamenu .megamenu-block > p {margin-bottom: 0; }
    .megamenu li.level0 a.level-top.ui-state-focus,
    .megamenu li.level0 a.level-top.ui-state-active {color: #ff5501}

    /*sub categories expanded*/
    .megamenu .leftblock.sub_expanded .submenu li.parent > a
    {color: #000; font-weight: 600; text-transform: uppercase;}
    .megamenu .leftblock.sub_expanded .submenu.level0 > li
    {display: inline-block; vertical-align: top; float: none; margin: 0 1% 1% 0}
    .megamenu .leftblock.sub_expanded > .submenu {border: none; box-shadow: none}
    .megamenu .leftblock.sub_expanded .submenu.level1
    {z-index: auto; display: block !important; left: 0 !important; position: relative; min-width: 200px}
    .megamenu .leftblock.sub_expanded .submenu.level2 {z-index: 2}
    .megamenu .leftblock.sub_expanded li.level2 a:before
    {content: '\e619'; font-family: "luma-icons"; font-size: 8px; font-weight: normal; padding-right: 5px; color: silver; }
    .megamenu .leftblock.sub_expanded .submenu.level0 .submenu {padding-left: 1em; }
    .megamenu .mega .leftblock.sub_expanded .submenu
    {border: medium none; box-shadow: none; display: block !important; position: relative; left: 0px !important}
    .megamenu .leftblock.sub_expanded .submenu li a {padding: 2px 4px; }
    .megamenu .leftblock.sub_expanded .submenu.level0 {border-right: 1px solid #ddd}    
    /*sub categories expanded with image*/
    .megamenu .leftblock.sub_expanded_with_image .submenu li img
    {border: 1px solid #ddd; border-radius: 5px; display: inline-block; max-width: 25px; vertical-align: middle; margin-left: 10px; }
    /*sub categories menu*/
    .megamenu .leftblock.sub_menu > .submenu > li > a {padding: 10px 20px; }
    .megamenu .leftblock.sub_menu > .submenu > li {border-bottom: 1px solid #ccc; margin: 0; position: relative;}
    .megamenu .leftblock.sub_menu > .submenu > li:last-child {border-bottom: none;}
    .megamenu .leftblock.sub_menu > .submenu > li.parent > a > span.ui-icon:after
    {content: '\e619'; line-height: 20px; float: right; font-family: "luma-icons"; font-size: 10px;}
    .navigation .megamenu .level0 .submenu {z-index: 9}
    .megamenu li.level0 .submenu.level0 {min-width: initial;}
    .megamenu .mega .sub_expanded_with_image .submenu.level0 .submenu {min-width: initial;}
    .megamenu .leftblock.sub_menu > .submenu > li.parent .submenu li.parent > a > span:not(.ui-icon):after
    {
        color: inherit;
        content: '\e622';
        display: inline-block;
        font-family: "luma-icons";
        font-size: 10px;
        font-weight: normal;
        line-height: 12px;
        margin: 0 0 0 5px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
    }
}
